.idea/
.gradle/
./cxx
build/
obj/
*.iml
local.properties
gradle.properties
google-services.json

TMessagesProj/config/debug.keystore
TMessagesProj/config/release.keystore
TMessagesProj/.cxx
*.apk
*.log
TMessagesProj/afat
TMessagesProj_App/afat
TMessagesProj/bundle*
TMessagesProj/x64